#wrapwrap > main {
    position: relative;
    left: 0px;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    transition: all 0.3s ease;
}

footer.main-footer.image_background {
    display: none;
}
form label {
    color: #fff;
}
.oe_login_form .oe_login_buttons .btn-primary {
    background: rgb(255 255 255) !important;
    padding: 10px;
    color: #feb913!important;
    margin-top: 10px;
    max-width: 400px;
    font-family: Raleway;
    font-size: 21px;
    text-align: center;
    border: solid 1px white!important;
}
.col-form-label {
    padding-top: calc(0.625rem + 1px);
    padding-bottom: calc(0.625rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    color: #fff;
}
.oe_login_form .oe_login_buttons .btn-primary:hover {
    color: #ffffff !important;
    background: transparent!important;
}